.dropdown {
  position: relative;
  display: inline-block;
  margin: 0.3rem;
}
.dropdown select {
  color: rgb(2, 123, 182);
  font-size: 1rem;
  padding: 8px 24px 8px 10px;
  border: none;
  border-radius: 4px;
  background-color: #EFEFEF;
  appearance: none;
}
.dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}