 .panel {
  color: #333333;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin: auto;
} 

@media only screen and (max-width: 480px) {
  .label {
    display: block;
  }
}